#root {
   height: 98.75vh;
   font-family: serif;
}

.th, .td, .tr, .tbody, .thead {
   border: 1px solid black;
}

.input {
   outline: none;
   border: none;
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   border: 1px solid #000;
   color: white;
   background-color: #04a1e4;
   padding: 10px;
   font-family: serif;
   font-size: 20px;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.centered {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.mainContainer {
   display: flex;
   justify-content: center;
   margin-top: 160px;
}

.buttonContainer {
   display: flex;
   justify-content: center;
}

.error {
   font-size: 1em;
   color: red;
   display: flex;
   justify-content: center;
   margin-top: 2px;
}

.header {
   display: flex;
   justify-content: space-between;
}

.tableHeader {
   background-color: #04a1e4;
   text-align: center;
}

.padding {
   padding: 8px;
}

.tituloDatosBancarios {
   width: 23%;
}

.displayNone {
   display: none;
}

input.datosBancarios {
   padding: 7px;
}

input.direccionFacturacion {
   padding: 12px;
}

#container {
   height: 100%;
   width: 70%;
}

#counter {
   position: relative;
   right: 37px;
   font-size: 18px;
   color: #04a1e4;
}

#datosBancarios {
   padding: 0%;
}

.noBorderTop {
   border-top: 0px;
}

.noBorderBottom {
   border-bottom: 0px;
}

.noBorderRight {
   border-right: 0px;
}