@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
    font-family: 'Roboto', sans-serif;
}

.th, .td, .tr, .tbody, .thead {
   border: 1px solid #939393;
}

.table {
   height: 60vh;
}

.tableDatosBancarios {
   height: 43vh;
}

.tableContactos {
   height: 75vh;
}

.input {
   outline: none;
   border: none;
   width: 100%;
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   border: 1px solid #939393;
   color: white;
   background-color: #41B6E6;
   padding: 10px;
   font-family: serif;
   font-size: 20px;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.centered {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.datosBancarios {
   height: 5.5rem;
}

.mainContainer {
   display: flex;
   justify-content: center;
   margin-top: 35px;
}

.buttonContainer {
   display: flex;
   justify-content: center;
}

.error {
   font-size: 1em;
   color: red;
   display: flex;
   justify-content: center;
   margin-top: 2px;
}

.header {
   display: flex;
   justify-content: space-between;
}

.tableHeader {
   background-color: #41B6E6;
   text-align: center;
}

.padding {
   padding: 8px;
}

.tituloDatosBancarios {
   width: 1%;
}

.displayNone {
   display: none;
}

.caeData {
   height: 7vh;
}

input.datosBancarios {
   padding: 7px;
   height: 2rem;
}

input.direccionFacturacion {
   padding: 12px;
   padding-right: 1px;
   height: 2rem;
}

#container {
   height: 100%;
   width: 70%;
   max-width: 1028px;
}

#counter {
   position: relative;
   right: 35px;
   font-size: 18px;
   color: #41B6E6;
}

#datosBancarios {
   padding: 0%;
}

#cae {
   padding: 0px;
   height: 14vh;
}

#caeRows {
   height: 3rem;
}

.noBorderTop {
   border-top: 0px;
}

.noBorderBottom {
   border-bottom: 0px;
}

.noBorderRight {
   border-right: 0px;
}

.noBorderLeft {
   border-left: 0px;
}

.paddingRight {
   width: 14rem;
}